<h1>All of Your Events</h1>
<hr>
<% if any_events%>
  <h2>Your Next Event</h2>
  <ul>
    <li><%=next_event.short_description%> - <%=link_to "Show", user_event_path(next_event)%></li>
  </ul>
  <br>
<h2>Your Upcoming Events</h2>
<ul>
  <% upcoming.each do |event|%>
  <li><%=event.short_description%> - <%=link_to "Show", user_event_path(event)%></li>
  <% end %>
</ul>
  <br>
<h2>Your Previous Events</h2>
<ul>
  <% previous.each do |event|%>
  <li><%=event.short_description%> - <%=link_to "Show", user_event_path(event)%></li>
  <% end %>
</ul>
<% else %>
<h2>No events to show!</h2>
<h3>Make a <%link_to "new event!", new_user_event_path%></h3>
<% end %>
