<h1>Event</h1>

<ul>
  <li>Short Description: <div id="short_description"><%=@event.short_description %></div></li>
  <li>Starts at: <div id="start_time"><%=@event.start_time.strftime("%l:%M%p") %></div></li>
  <li>Ends at: <div id="end_time"><%=@event.end_time.strftime("%l:%M%p") %></div></li>
  <li>Date: <div id="date"><%=@event.date.strftime("%B %e, %Y")%></div></li>
  <li>Additional Information: <div id="add_info"><%=@event.additional_info%></div></li>
  <li>Created by: <div id="owner"><%=@event.owner.email%></div></li>
</ul>


<% if shared_with_me? %>
<%=button_to "Unshare Myself", user_event_unshare_path(event: {user_ids: current_user.id, id: @event.id}), class: 'button', method: :post, data: { confirm: 'Are you sure?' }%>
<% end%>

<span class="actions">
  <% if @event.owner == current_user%>
  <button class="js-change prev show button" data-id="<%=@event.id%>">Prev Event</button>
  <button class="js-change next show button" data-id="<%=@event.id%>">Next Event</button>
  <%=button_to "Edit", edit_user_event_path(@event), class: "show button", method: :get, form_class: "edit"%>
  <br>
  <%=button_to "Delete", user_event_path, class: "show button", method: :delete, data: {confirm: "Are you sure?"}, form_class: "delete"%>
  <% end %>
</span>
