<h1>Event</h1>

<ul>
  <li>Short Description: <%=@event.short_description %></li>
  <li>Starts at: <%=@event.start_time.strftime("%l:%M%p") %></li>
  <li>Ends at: <%=@event.end_time.strftime("%l:%M%p") %></li>
  <li>Date: <%=@event.date.strftime("%B %e, %Y")%></li>
  <li>Categories: <%@event.categories.each do |category|%>
  <%= category.name %>
  <% end %></li>
  <li>Additional Information: <%=@event.additional_info%></li>
  <li>Created by: <%=@event.owner.email%></li>
  <% if !@event.users.select {|user| user.email != @event.owner.email}.empty?%>
  <li>Shared with: <%shared_with.each do |user|%>
      <%=user.email%> <% if @event.owner == current_user%>
        <%=button_to "Unshare", user_event_unshare_path(event: {user_ids: user.id}), method: :post, data: { confirm: 'Are you sure?' }%>
        <%end%>
      <%end%>
    </li>
  <% end %>
</ul>


<% if shared_with_me? %>
<%=button_to "Unshare Myself", user_event_unshare_path(event: {user_ids: current_user.id}), method: :post, data: { confirm: 'Are you sure?' }%>
<% end%>

<% if @event.owner == current_user%>
<%=link_to "Edit", edit_user_event_path(@event)%>
<%=button_to "Delete", user_event_path, method: :delete, data: {confirm: "Are you sure?"}%>
Share with more
<% end %>
