<h1 class="center">Event</h1>

<div class="events-show">
<div class="label">
<div class="items">Short Description:</div>
<div class="items">Starts at:</div>
<div class="items">Ends at:</div>
<div class="items">Date:</div>
<% if @event.categories.length > 0 %>
<div class="items">Categories:</div>
<% end %>
<div class="items">More Information:</div>
<div class="items">Created by:</div>
<% if !@event.users.select {|user| user.email != @event.owner.email}.empty?%>
<div class="items">Shared with:</div> 
 <% end %>
</div>


<div class="info">
<div class="items"><%=@event.short_description %></div>
<div class="items"><%=@event.start_time.strftime("%l:%M%p") %></div>
<div class="items"><%=@event.end_time.strftime("%l:%M%p") %></div>
<div class="items"><%=@event.date.strftime("%B %e, %Y")%></div>
<% if @event.categories.length > 0 %>
<div class="items"><%@event.categories.each do |category|%>
  <%= category.name %>
  <% end %></div>
  <% end%>
  <div class="items"><%=@event.additional_info%></div>
  <div class="items"><%=@event.owner.email%></div>
  <% if !@event.users.select {|user| user.email != @event.owner.email}.empty?%>
  <div class="items"><%shared_with.each do |user|%>
      <%=user.email%>
  <% if @event.owner == current_user%>
  <span><%=button_to "Unshare", user_event_unshare_path(event: {user_ids: user.id}), class: "button",  method: :post, data: { confirm: 'Are you sure?' }%>
  </span><%end%>
        <%end%>
        <%end%>
        </div>
</div>


</div>
<div class="actions">
  <% if @event.owner == current_user%>
  <%=button_to "Edit", edit_user_event_path(@event), class: "button", method: :get%>
  <%=button_to "Delete", user_event_path, class: "button", method: :delete, data: {confirm: "Are you sure?"}%>
  <% end %>
  <% if shared_with_me? %>
<%=button_to "Unshare Myself", user_event_unshare_path(event: {user_ids: current_user.id}), method: :post, data: { confirm: 'Are you sure?' }%>
<% end%>
</div>