<div class="row">
  <div class="col-md-6 text-center">
    <div class="well controls">
      <%= link_to "Previous", user_calendar_day_path(date: @date + 1.day), class: "btn btn-default"%>
      <%= "#{@date.strftime("%b %-d, %Y")}" %>
      <%= link_to "Next", user_calendar_day_path(date: @date + 1.day), class: "btn btn-default"%>

    </div>
  </div>
</div>
<div class="row">
    <%= day_calendar @date do |date| %>
      <!-- <% if @events_by_date[date] %>
    <ul>
      <% @events_by_date[date].each do |event| %>
        <%= link_to event.short_description, user_event_path(event) %>

      <% end %>
    </ul>
  <% end %> -->
    <% end %>
</div>
