
<div class="row">
  <div class="col-md-12 text-center">
    <div class="well controls">
      <%= link_to "Previous", user_calendar_month_path(date: @date - 1.month)%>
      <span style="font-weight:bold"><%= "#{@date.strftime("%B")} #{@date.year}" %></span>
      <%= link_to "Next", user_calendar_month_path(date: @date + 1.month)%>

    </div>
  </div>
</div>
<div class="row">

    <%= calendar(@date, "month") do |date| %>
      <div class="day">
      <%= date.day %>
      </div>
      <% if @events_by_date[date] %>

      <% @events_by_date[date].each do |event| %>
        
        <div class='date event' >
        <%=link_to event.short_description.truncate(15), user_event_path(event)%>
        </div>
      <% end %>

  <% end %>
    <% end %>
</div>
