<div class="row">
  <div class="col-md-12 text-center">
    <div class="well controls">
      <%= link_to "Previous", user_calendar_week_path(date: @date - 1.week), class: "btn btn-default"%>
      <span style="font-weight:bold"><%= "#{@date.beginning_of_week.strftime("%b %-d, %Y")} - #{@date.end_of_week.strftime("%b %-d, %Y")}" %>
      </span>
      <%= link_to "Next", user_calendar_week_path(date: @date + 1.week), class: "btn btn-default"%>

    </div>
  </div>
</div>
<div class="row">
    <%= calendar(@date, "week") do |date| %>
      <div class="day">
      <%= date.day %>
      </div>
      <% if @events_by_date[date] %>

      <% @events_by_date[date].each do |event| %>
        
        <div class='date event' >
        <%=link_to event.short_description.truncate(15), user_event_path(event)%>
        </div>
      <% end %>

  <% end %>
    <% end %>
</div>
