<%= form_for :friendship, :url => { :action => "create" } do |f| %>
<%= f.label :email, "Find Using Their Email:" %>
<%= f.collection_select :user_id, User.all, :id, :email, :include_blank => true%>
<%= f.submit "Add Friend"%>
<% end %>

<br>
<h2>Users Who Added You</h2>

<ul>
  <% not_added_back.each do |user|%>
  <li><%=user.email %></li>
      <%= button_to('Add', { controller: "friendship", action: :create, friendship: {user_id: user.id} }, method: :post )%>
  <% end %>

</ul>
