<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render partial: 'layout_partials/flash'%>
    <%= render partial: 'layout_partials/navbar' %>
    <div class="top"></div>
    <div id="main-container" class="container-fluid">
      <div class="row">

          <div class="col-md-3 asides">
            <% if upcoming_events?%>
            <%= render partial: "layout_partials/upcoming_events"%>
            <% else %>
            <h3>Make a <%=link_to "new event!", new_user_event_path%>
            <% end%>
          </div>

        <div class="col-md-6">
          <div class="content-div">
            <%= yield %>
          </div>
        </div>

          <div class="col-md-3 asides">
            <%= render partial: "layout_partials/friends"%>
            </div>


        </div>
      </div>

    </body>
  </html>
