<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href='http://fonts.googleapis.com/css?family=Pacifico'>
    <link rel="stylesheet" type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

    <%= render partial: 'layout_partials/navbar' %>
    <div class="top"></div>
    <div id="main-container" class="container-fluid">
      
      <div class="row">

          <div class="col-md-3 asides">
            <% if upcoming_events?%>
            <%= render partial: "layout_partials/upcoming_events"%>
            <% end%>
          </div>

        <div class="col-md-6">
          <div class="content-div">
            <%= yield %>
          </div>
        </div>

        <div class="col-md-3 asides">
          <%= render partial: "layout_partials/friends"%>
        </div>


        </div>
      </div>

    </body>
  </html>
