<!DOCTYPE html>
<html>
<head>
<title>App</title>
<%= csrf_meta_tags %>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/user/today">Today<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/week">Week<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/month">Month<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/user/event/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Events
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/user/event">All Events</a>
        </div>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/user/event/new">New Event</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/user/friendship" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Friends
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/user/friendship/new">New</a>
        </div>
      </li>
      <li class="nav-item">
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
      </li>
    </ul>
  </div>
</nav>
<hr>
<div id="main-container" class="container-fluid">
<div class="row">
<div class="col-md-3">
  <% if any_events?%>
  <h5>Next Event:</h5>
    <ul>
      <li><%=link_to next_event.short_description, user_event_path(next_event)%> - <%=next_event.date.strftime("%B %e, %Y")%></li></li>
    </ul>
    <br>
  <h5>Upcoming Events:</h5>
    <ul>
    <% upcoming.each do |event|%>
    <li><%=link_to event.short_description, user_event_path(event)%> - <%=event.date.strftime("%B %e, %Y")%></li>
    <% end%>
  </ul>
  <%end %>
</div>
<div class="col-md-6">
<%= yield %>
</div>
<div class="col-md-3 w3-gray">

  <h5>Hello, <%=current_user.email%></h5>
  <%if any_friends?%>
  <h3>Your Friends:</h3>
  <ul>
     <% current_user.friendships.each do |friend|%>
       <% user = User.find_by(id: friend.friend_id) %>
       <% if user %>
       <li><%=user.email%> <%=button_to "Delete", user_friendship_path(user.id), method: :delete, data: { confirm: 'Are you sure?' }%></li>
       <% end%>
     <%end %>
 </ul>

 <h5><%=link_to "Add Friends", new_user_friendship_path%></h5>
 <%end%>
</div>
</div>
</div>

</body>
</html>
